# Editor configs
.vscode
.idea

# External modules
node_modules

# Project files
asphyxia-core.d.ts
package.json
package-lock.json
typedoc.json
tsconfig.json

# game images the customize pages import from the game (iidx)
iidx@asphyxia/webui/asset/customize/
# the song lists imported from the game (iidx)
iidx@asphyxia/webui/asset/music/
